@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-editorial-italic: "editorial-italic", sans-serif;
  --font-editorial-light: "editorial-light", sans-serif;
  --font-editorial-regular: "editorial-regular", sans-serif;
  --font-ppmori-regular: "ppmori-regular", sans-serif;
  --font-ppmori-bold: "ppmori-bold", sans-serif;

  --color-base-100: rgb(242, 237, 230);
  --color-base-200: rgb(204, 200, 194);
  --color-base-250: rgb(179, 167, 152);
  --color-base-300: rgb(153, 143, 130);
  --color-base-350: rgb(128, 119, 108);
  --color-base-400: rgb(102, 95, 86);
  --color-base-450: rgb(31, 29, 29);
  --color-base-500: rgb(20, 19, 19);

  --color-dark-100: #1a1a1a;
  --color-dark-200: #3b3b3b;
  --color-dark-300: #333333;
  --color-dark-400: #232323;
  --color-dark-500: #222222;

  --color-light-300: #fff;
  --color-light-400: #ffffffe6;
  --color-light-500: #f5f5f5;
  --color-light-600: #f3e8e7;
  --color-light-700: #d8d0c4;
  --color-light-800: #787878;
  --color-light-900: #a5a5a5;

  --color-red-900: #f0ccce;
}
@layer base {
  @font-face {
    font-family: "editorial-italic";
    src: url("/fonts/EditorialNew-Italic.ttf");
  }
  @font-face {
    font-family: "editorial-light";
    src: url("/fonts/EditorialNew-Lightitalic.ttf");
  }
  @font-face {
    font-family: "editorial-regular";
    src: url("/fonts/EditorialNew-Regular.ttf");
  }
  @font-face {
    font-family: "ppmori-regular";
    src: url("/fonts/PPMori-Regular.ttf");
  }
  @font-face {
    font-family: "ppmori-bold";
    src: url("/fonts/PPMori-SemiBold.ttf");
  }
}

body {
  font-family: ppmori-regular;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}
